accelerate==1.1.0.dev0
apex==0.9.10dev
bitsandbytes==0.43.0
codecarbon==2.8.3
colorama==0.4.6
datasets==3.0.2
googletrans==4.0.2
huggingface_hub==0.26.2
intel_extension_for_pytorch==2.6.0
nltk==3.9.1
numpy==2.2.4
optuna==4.2.1
packaging==24.2
pandas==2.2.3
peft==0.10.0
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.38.0
safetensors==0.5.3
scikit_learn==1.6.1
torch==2.2.1
torch_npu==2.4.0.post2
torch_xla==2.6.0
tqdm==4.66.6
transformers==4.50.3